In [70]:
#extract all numerical data 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 9:6 , 10:8} , ["ineuron" , "data science "]] 
a , b, c, d, e, f = l #unpacking 
l1 = a , b, c, d, e, f

for i in l1:
    if type (i) == dict:
        for u,v in i.items():
            if type(u) == int:
                print (u)
            if type(v) == int:
                print (v)
    if type (i) == list or tuple or set: 
        for j in i:
            if type (j) == int:
                print (j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
9
6
10
8
9
10

In [60]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]] 
a , b, c, d, e, f = l #unpacking 
l1 = a , b, c, d, e, f

for i in l1:
    print (i, type (i))

[1, 2, 3, 4] <class 'list'>
(2, 3, 4, 5, 6) <class 'tuple'>
(3, 4, 5, 6, 7) <class 'tuple'>
{45, 4, 5, 23} <class 'set'>
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} <class 'dict'>
['ineuron', 'data science '] <class 'list'>